
.jumbotron{
	background: url(../img/background.jpg) no-repeat center center fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	height: 100vh;
}

/* typography */

html{
	font-size: 24px;
}

body, p{
	font-family:'Roboto', Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
}

.jumbotron h1{
	font-family:'Playfair Display', serif;
	font-size: 5em;
	line-height: 1.5;
	letter-spacing: 4px;
	font-weight: 300;
	color: #000;
}

.byline{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	letter-spacing: 2px;
	padding-left: 10px;
}

.headline{
	margin-top: 200px
}

h2{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
	text-align: center;
}

h3{
	font-size: 2.5em;
}

h4{
	font-size: 1.5em;
	line-height: 30px;
	font-weight: 300;
}

h5{
	font-size: 2em;
	font-weight: 100;
}


/* Nav Bar*/

.logo{
	height: 100px;
	width: auto;
	margin-top: 5px;
	-webkit-transition: all .3s; // Chrome
    -moz-transition: all .3s; // Mozilla
    -o-transition: all .3s; // Opera
	transition: all .3s;
}

.logo_small{
	height: 50px;
	width: auto;
	margin-top: 0px;
	-webkit-transition: all .3s; // Chrome
    -moz-transition: all .3s; // Mozilla
    -o-transition: all .3s; // Opera
	transition: all .3s;
}

.navbar-brand{
	padding:0px;
}

.navbar-header{
	padding-left:5%;
}
/* Featured Projects */

/*.PZall, .Anjouiall, .Claimsall, .Bandall{
	margin-top: 50px;
}*/

.PZimg, .Anjouiimg, .Claimsimg, .Bandimg{
	height: 250px;
	width: auto;
	border: 0px;
	border-radius: 4px;
	padding: 0px;
}

/*.PZimg:hover{
	background: #cad2e4;
}*/

.PZtext, .Anjouitext, .Claimstext, .Bandtext{
	text-align: center;
	margin: 0 10px;
	padding-top: 3%;
}

/* About */

.Aboutme{
	margin-top: 50px;
}

.Cathyimg{
	height: 200px;
	width: auto;
	padding: 0px;
	margin: 0px auto;
}

.Abouttitle{
	padding: 0px;
	margin-top: 80px;
}

.Abouttext{
	letter-spacing: 1.5;
	line-height: 1.8;
	font-size: 1.1em;
	padding-top:30px; 
}
/* Contact */

.contactme{
	background-color: #a7afc6;
	margin: 20px 0px 0px;
	padding-top:60px; 
	text-align: center;
}

.contactme h2, .email, .copy{
	color: #fff;
}

.contactme h2{
	letter-spacing: 2px;
	padding: 0px;
}

.btn {
  border: 0px;
  border-radius: 4px;
}

.btn-resume{
	padding:8px 30px;
	margin:20px 10px 50px 0px;
}

.btn-linkedin{
	padding: 11px 28px;
	margin:20px 0px 50px 10px;
}

.copy{
	font-size: 0.8em;
	margin-top: 3.5%;
}

.contactme{
	height: 60vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


