
body {
  position: relative;
}

.jumbotron{
	background: url(../img/background.jpg) no-repeat center center fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	height: 100vh;
}

/* typography */

html{
	font-size: 24px;
}

body, p{
	font-family:'Roboto', Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
}

p{
	font-size: 1.1em;
}


.jumbotron h1{
	font-family:'Playfair Display', serif;
	font-size: 5em;
	line-height: 1.5;
	letter-spacing: 4px;
	font-weight: 300;
	color: #000;
}

.byline{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	letter-spacing: 2px;
	padding-left: 10px;
}

.headline{
	margin-top: 200px
}

h2{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
	text-align: center;
}

h3{
	font-size: 2.5em;
}

h4{
	font-size: 1.5em;
	line-height: 30px;
	font-weight: 300;
}

h5{
	font-size: 2em;
	font-weight: 100;
}


/* Nav Bar*/

.logo{
	height: 80px;
	width: auto;
	margin-top: 15%;
	-webkit-transition: all .3s; // Chrome
    -moz-transition: all .3s; // Mozilla
    -o-transition: all .3s; // Opera
	transition: all .3s;
}

.logo_small{
	height: 40px;
	width: auto;
	margin-top: 15%;
	-webkit-transition: all .3s; // Chrome
    -moz-transition: all .3s; // Mozilla
    -o-transition: all .3s; // Opera
	transition: all .3s;
}

.navbar-brand{
	padding:0px;
}

.navbar-header{
	padding-left:5%;
}
/* Featured Projects */

.featured_work{
	padding-top: 30px;
}

.PZimg, .Anjouiimg, .Claimsimg, .Bandimg{
	max-height: 290px;
	width: auto;
	border: 0px;
	border-radius: 4px;
	padding: 0px;
}

.PZtext, .Anjouitext, .Claimstext, .Bandtext{
	text-align: center;
	margin: 0 2%;
	padding-top: 5%;
}

.PZimg, .Claimsimg{
	margin-right: 5%;
}

.PZall, .Claimsall{
	margin: 20px 0px;
}

.Anjouiimg, .Bandimg{
	float: right;
	margin-left: 5%;
}

.Anjouiall, .Claimall{
	margin-bottom: 20px;
}


/* About */

.Aboutme{
	margin-top: 50px;
}

.Cathyimg{
	height: 200px;
	width: auto;
	padding: 0px;
	margin: 0px auto;
}

.Abouttitle{
	padding: 0px;
	margin-top: 80px;
}

.Abouttext{
	letter-spacing: 1.5;
	line-height: 1.8;
	font-size: 1.1em;
	padding-top:30px; 
}
/* Contact */

.contactme{
	background-color: #a7afc6;
	margin: 20px 0px 0px;
	padding-top:60px; 
	text-align: center;
}

.contactme h2, .email, .copy{
	color: #fff;
}

.contactme h2{
	letter-spacing: 2px;
	padding: 0px;
}

.btn {
  border: 0px;
  border-radius: 4px;
}

.btn-resume{
	padding:8px 30px;
	margin:20px 10px 50px 0px;
}

.btn-linkedin{
	padding: 11px 28px;
	margin:20px 0px 50px 10px;
}

.copy{
	font-size: 1em;
	letter-spacing: 0.5px;
	font-weight: 100;
	margin-top: 3.5%;
}

.contactme{
	height: 60vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*-------- Media Queries ----------*/

@media screen and (max-width: 1024px){
	}

@media screen and (max-width: 768px){
	}

@media screen and (max-width:480px){

.logo{
	height: 40px;
	}	

.jumbotron h1{
	font-size: 4em;
	text-align: center;
	line-height: 1.2;
	}

.byline{
	font-size: 2em;
	letter-spacing: 0px;
	padding-left: 0px;
	padding-top: 10px;
	text-align: center;
	}

.PZall, .Anjouiall, .Claimsall{
	margin-top: 20%;
	}
}








