
.jumbotron{
	background: url(../img/background.jpg) no-repeat center center;	
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	height: 100vh;
}

.btn {
  border: 0px;
  border-radius: 4px;
}


/* typography */

html{
	font-size: 24px;
}

body, p{
	font-family:'Roboto', Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
}

.jumbotron h1{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	line-height: 1.5;
	letter-spacing: 4px;
	font-weight: 300;
	color: #000;
}

.byline{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	letter-spacing: 2px;
	padding-left: 10px;
}

.headline{
	margin-top: 150px;
}

h2{
	font-family:'Playfair Display', serif;
	font-size: 3em;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
	text-align: center;
}

h3{
	font-family:'Playfair Display', serif;
	font-size: 2em;
	text-align: center;
}

h4{
	font-size: 1.2em;
	line-height: 30px;
	font-weight: 300;
}

h5{
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

/* Nav Bar*/

.logo{
	height: 80px;
	width: auto;
	margin-top: 15%;
	-webkit-transition: all .3s; // Chrome
    -moz-transition: all .3s; // Mozilla
    -o-transition: all .3s; // Opera
	transition: all .3s;
}

.logo_small{
	height: 40px;
	width: auto;
	margin-top: 15%;
	-webkit-transition: all .3s; // Chrome
    -moz-transition: all .3s; // Mozilla
    -o-transition: all .3s; // Opera
	transition: all .3s;
}

.navbar-brand{
	padding:0px;
}

.navbar-header{
	padding-left:5%;
}


/* Copy */

.myrole {
  margin-top: 3%;
  margin-left: 6.5%;
}

.myrole li {
	margin-right: 6%;
	text-align: center;
}


.discovery_only{
	background-color: #eee;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 4% 0px 2%;
	width: 100%;
}

/* Images */

.GFW{
	max-height: 350px;
	width: auto;
	margin: 0 auto;
}


.requirements{
	max-height: 420px;
	width: auto;
	margin: 0 auto;
}
.design{
	margin-top: 5%;
}

.options{
	margin-top: 5%;
}
.options h5{
	text-align: center;
	font-size: 1.5em;
}

.options ul li{
	max-width: 600px;
	height: auto;
	margin: 5% auto;
}

.solution_only{
	background-color: #F5F5F5;
	padding: 2% 0px 0px;
	margin: 2% 0px 0%;
	width: 100%;
}

.results{
	margin-top: 5%;
}

.solution{
	max-width: 650px;
	height: auto;
	margin: 0 auto;
}

/* Contact */

footer{
	background-color: #a7afc6;
	margin: 0px;
	text-align: center;
	height: 20vh;
}

.btn-previous, .btn-next{
	margin:4% 10% 0%;
	}


.copy{
	font-size: 1em;
	letter-spacing: 0.5px;
	padding-top: 7%;
	font-weight: 100;
	color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}


@media screen and (max-width:480px){

.logo{
	height: 40px;
	}	

.jumbotron h1{
	font-size: 3em;
	line-height: 1.2;
	letter-spacing: 0px;
	}

.headline {
  margin-top: 20%;
}

.myrole li {
	margin-top: 10%;
}

}